<main>
  <div class="container">
    <p><i> Created by:</i></p>
    <h1>Ilya Shutikov</h1>

    <ul>
      <li>Email: <a href="mailto:IlyaShutikov1@gmail.com" target="blink">IlyaShutikov1@gmail.com</a></li>

      <li>Location: <a href="https://www.google.com/maps/place/Minsk" target="blink">Minsk, Belarus / Relocate</a></li>
      <li>linkedin: <a href="https://www.linkedin.com/in/ilya-shutikov/"
          target="blink">linkedin.com/in/ilya-shutikov</a></li>
      <li>Github: <a href="https://github.com/DeliasZen" target="blink">github.com/DeliasZen</a></li>
      <li>Phone: <a href="tel:+375(25) 720-66-33" target="blink">+375(25) 720-66-33</a></li>
    </ul>






  </div>
</main>