<header>
  <div class="presentation">
    <h1 routerLinkActive="active" routerLink="pokedex">Pokedex</h1>
    <img src="/assets/images/pokeball-background.png" alt="pokeball">
  </div>
  <nav>
    <ul>
      <li routerLinkActive="active" routerLink="pokemons">Pokemons</li>
      <li routerLinkActive="active" routerLink="custom">Custom</li>
      <li routerLinkActive="active" routerLink="about">About</li>
      <li routerLinkActive="active" routerLink="auth">Login</li>
    </ul>
  </nav>
</header>