$color-red: #ff1b1b;
$color-main: #1f1f1f;


header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: $color-red;
  justify-content: space-between;
  border-radius: 0 0 1.6em 1.6em;
  padding: 0 2rem;
  z-index: 5;

  @media screen and (max-width: 830px) {
    padding: 0 0.8rem;
  }

}
.presentation {
  display: flex;
  padding: 1.8em;
  user-select: none;

}

img{
  margin-left: 0.8em;
  height: 2.6em;
}

nav {
  display: flex;
  align-items: flex-end
}
ul {
  display: flex;
  gap: 1.1rem;
  margin-right: 2.2rem;

  .active{
    color: $color-main;
  }

  li {
    list-style: none;
    cursor: pointer;
    padding: 1.2rem;

    @media screen and (max-width: 830px) {
      padding: 0.5rem;
    }

    transition: color 0.25s;
    
    &:hover {
      color: $color-main;
    }
  }
}

