<main>
  <h2>Account Login</h2>


  <div *ngIf="!authService.isLoggedIn; then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock>
    <div class="auth">
      <div class="login">
        <!-- <label for=""></label> -->
        <input [(ngModel)]="userLogin" type="text" placeholder="login">
      </div>
      <div class="password">
        <!-- <label for=""></label> -->
        <input [(ngModel)]="userPassword" type="password" placeholder="password">
      </div>
      <div class="button">
        <button (click)="login()">Enter</button>
      </div>
    </div>
  </ng-template>


  <ng-template #elseBlock>
    <div class="auth">
      <div class="button">
        <button (click)="logout()">Logout</button>
      </div>
    </div>
  </ng-template>

  <p class="message">{{message}}</p>

</main>