<ng-container *ngIf="ifActive">

  <div class="overlay" (click)="ifActive = false"></div>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" placeholder="enter name">
    </div>

    <div>
      <label for="img">Image URL:</label>
      <input id="img" formControlName="img" placeholder="put url or leave empty">
    </div>

    <div>
      <label for="type">Type:</label>
      <input id="type" formControlName="type" placeholder="enter type">
    </div>

    <div>
      <label for="weight">Weight:</label>
      <input id="weight" formControlName="weight" placeholder="max 3 digits" type="number">
    </div>

    <div>
      <label for="iq">IQ:</label>
      <input id="iq" formControlName="iq" placeholder="enter IQ">
    </div>

    <div>
      <label for="temper">Temper:</label>
      <input id="temper" formControlName="temper" placeholder="enter temper">
    </div>

    <div class="buttons">
      <button [disabled]="form.invalid" type="submit">Done!</button>
      <button (click)="ifActive = false">Cancel!</button>
    </div>
  </form>

</ng-container>



<div class="crEl" (click)="ifActive = true">
  <p>Create new Pokemon!</p>
  <img src="assets/images/pokeball.png" alt="pokeball">
</div>